<#include "/lib/layout.html">

<@layout_std
    page="branch"
    title=branch.data.name?html
    noscript=true
    breadcrumbs={
        loc("home"): "",
        project.data.name?html: "project/${project.data.id?c}"
    }>

    <input type="hidden" id="project" value="${project.data.id?c}" />
    <input type="hidden" id="branch" value="${branch.data.id?c}" />

    <@title value=branch.data.name close="project/${project.data.id?c}">
        <@title_uplink name=project.data.name href="project/${project.data.id?c}" />
        <#if project.actions?seq_contains('REQUEST_CREATE')>
            <@title_command id="request-create" title=loc('request.create') class="icon-file" />
        </#if>
        <#if project.actions?seq_contains('UPDATE')>
            <@title_command id="branch-delete" title=loc('general.delete') class="icon-trash" />
        </#if>
    </@title>

</@layout_std>