<#include "/lib/layout.html">

<@layout_std
    page="contribution"
    title=loc('contribution')
    style=true
    breadcrumbs={
        loc("home"): "",
        project.data.name?html: "project/${project.data.id?c}",
        branch.data.name?html: "branch/${branch.data.id?c}"
    }>

    <input type="hidden" id="project" value="${project.data.id?c}" />
    <input type="hidden" id="branch" value="${branch.data.id?c}" />
    <input type="hidden" id="contribution" value="${contribution.data.id?c}" />
    <input type="hidden" id="direct" value="${contribution.data.direct?string}" />

    <@title value=loc('contribution') close="branch/${branch.data.id?c}">
        <@title_uplink name=project.data.name href="project/${project.data.id?c}" />
        <@title_uplink name=branch.data.name href="branch/${branch.data.id?c}" />
    </@title>

    <div class="row-fluid">
        <div class="span12">
            <div id="submit-result" class="hidden alert alert-info">
                <span id="submit-result-message"></span>
                <a class="close" data-dismiss="alert" href="#">&times;</a>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <form id="search-form" class="form-inline">
                <input id="search" type="text" class="span6" required="required" placeholder="<@lh key='contribution.search' />" />
                <button id="search-go" type="submit" class="btn"><i class="icon-search"></i></button>
            </form>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h1><small><@lh key="contribution.edit" /></small></h1>
            <div id="edition-box">
                <div class="alert alert-warning">
                    <@lh key="contribution.edit.empty" />
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h1><small><@lh key="contribution.manage" /></small></h1>
            <div id="manage-box">
                <div class="alert alert-warning">
                    <@lh key="contribution.manage.empty" />
                </div>
            </div>
        </div>
    </div>

</@layout_std>