<#include "/lib/layout.html">

<@layout_std page="home">

    <div class="row-fluid">
        <div class="span4">
            <@section title=loc('pipeline.list')>
                <div
                    id="pipeline-list"
                    class="dynamic"
                    dynamic-controller="pipeline-list"
                    ></div>
                <#if secAdmin()>
                    <button id="pipeline-create" type="button" class="btn"><@lh key="pipeline.create" /></button>
                </#if>
            </@section>
        </div>
    </div>

</@layout_std>