<#include "/lib/layout.html">

<@layout_std
    page="project-acl"
    title=loc('acl.project')
    breadcrumbs={
        loc("home"): "",
        project.data.name?html: "project/${project.data.id?c}"
    }>

    <input type="hidden" id="project" value="${project.data.id?c}" />

    <@title value=loc('acl.project') description=loc('acl.project.description', project.data.name) close="project/${project.data.id?c}">
        <@title_uplink name=project.data.name href="project/${project.data.id?c}" />
    </@title>

</@layout_std>