<#include "/lib/layout.html">

<@layout_std
    page="project-acl"
    title=loc('acl.project')
    breadcrumbs={
        loc("home"): "",
        project.data.name?html: "project/${project.data.id?c}"
    }>

    <input type="hidden" id="project" value="${project.data.id?c}" />

    <@title value=loc('acl.project') description=loc('acl.project.description', project.data.name) close="project/${project.data.id?c}">
        <@title_uplink name=project.data.name href="project/${project.data.id?c}" />
    </@title>

    <div class="row-fluid">
        <div class="span12">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="acl-account"><@lh key='acl.account'/></label>
                    <div class="controls">
                        <input type="text" id="acl-account" size="40" maxlength="80" autocomplete="off" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</@layout_std>