<#include "/lib/layout.html">

<@layout_std
    page="project"
    title=project.data.name?html
    breadcrumbs={
        loc("home"): ""
    }>

    <input type="hidden" id="project" value="${project.data.id?c}" />

    <@title value=project.data.name description=project.data.fullName>
        <@acl resource=project action='PROJECT#ACL'>
            <@title_command id="project-acl" title=loc('acl.project') class="icon-user" />
        </@acl>
        <@acl resource=project action='PROJECT#DELETE'>
            <@title_command id="project-delete" title=loc('general.delete') class="icon-trash" />
        </@acl>
    </@title>

    <div class="row-fluid">
        <div class="span4">
            <@section title=loc('branch.list')>
                <div
                    id="branch-list"
                    class="dynamic"
                    dynamic-controller="branch-list"
                    dynamic-project-id="${project.data.id?c}"
                    ></div>
                <@acl resource=project action='PROJECT#UPDATE'>
                    <button id="branch-create" type="button" class="btn"><@lh key="branch.create" /></button>
                </@acl>
            </@section>
        </div>
    </div>

</@layout_std>