<#include "/lib/layout.html">

<@layout_std
    page="request"
    title=request.data.version?html
    breadcrumbs={
        loc("home"): "",
        project.data.name?html: "project/${project.data.id?c}",
        branch.data.name?html: "branch/${branch.data.id?c}"
    }>

    <input type="hidden" id="project" value="${project.data.id?c}" />
    <input type="hidden" id="branch" value="${branch.data.id?c}" />
    <input type="hidden" id="request" value="${request.data.id?c}" />

    <@title value=request.data.version close="branch/${branch.data.id?c}">
        <@title_uplink name=project.data.name href="project/${project.data.id?c}" />
        <@title_uplink name=branch.data.name href="branch/${branch.data.id?c}" />
        <@acl resource=request action='PROJECT#REQUEST_DELETE'>
            <@title_command id="request-delete" title=loc('request.delete') class="icon-trash" />
        </@acl>
    </@title>

    <div class="row-fluid">
        <div
            id="request-status"
            class="span12 dynamic"
            dynamic-controller="request-status"
            dynamic-request-id="${request.data.id?c}"
            dynamic-refresh="true"
            ></div>
    </div>

</@layout_std>