{{#if response.data.entries.length}}
    <p>{{loc 'contribution.edit.total'}} {{request.limit}}</p>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th class="contribution-key">{{loc 'translation.key'}}</th>
                {{#response.data.locales}}
                    <th class="locale-{{.}}">
                        {{.}}
                        <i class="icon-ban-circle action action-optional action-inline contribution-locale-hide" title="{{loc 'contribution.edit.locale.filter'}}" data-locale="{{.}}"></i>
                    </th>
                {{/response.data.locales}}
            </tr>
        </thead>
        <tbody>
            {{#response.data.entries}}
                <tr>
                    <td class="contribution-key">
                        <code>{{key.key}}</code>
                    </td>
                    {{#../../response.data.locales}}
                        <td class="locale-{{.}} contribution-cell">
                            {{{contribution-field .. .}}}
                        </td>
                    {{/../../response.data.locales}}
                </tr>
            {{/response.data.entries}}
        </tbody>
    </table>
{{else}}
    <div class="alert alert-error">
        {{loc 'contribution.edit.noresult'}}
    </div>
{{/if}}