{{#if contributions.length}}
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>{{loc 'translation.bundle'}}</th>
                <th>{{loc 'translation.section'}}</th>
                <th>{{loc 'translation.key'}}</th>
                <th>{{loc 'translation.locale'}}</th>
                <th>{{loc 'contribution.oldvalue'}}</th>
                <th>{{loc 'contribution.newvalue'}}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {{#contributions}}
                <tr>
                    <td class="translation-bundle">{{bundle}}</td>
                    <td class="translation-section">{{section}}</td>
                    <td class="translation-key">{{key}}</td>
                    <td>{{locale}}</td>
                    <td>{{oldValue}}</td>
                    <td>{{newValue}}</td>
                    <td>
                        <i
                                class="icon-trash action action-optional action-inline contribution-remove"
                                data-field-id="{{id}}"></i>
                    </td>
                </tr>
            {{/contributions}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    <form id="submit-form" class="form-inline">
                        {{^direct}}
                            <div class="alert alert-warning">
                                {{loc 'contribution.stage.message'}}
                            </div>
                        {{/direct}}
                        <input id="submit-message" type="text" class="span8" required="required" placeholder="{{loc 'contribution.message'}}" />
                        <button type="submit" class="btn btn-primary">
                            {{#if direct}}
                                {{loc 'contribution.submit'}}
                            {{else}}
                                {{loc 'contribution.stage'}}
                            {{/if}}
                        </button>
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
{{else}}
    <div class="alert alert-warning">
        {{loc 'contribution.manage.empty'}}
    </div>
{{/if}}