<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="project-name">{{loc 'project.name'}}</label>
        <div class="controls">
            <input type="text" id="project-name" value="" size="40" maxlength="80" required="required" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="project-fullName">{{loc 'project.fullName'}}</label>
        <div class="controls">
            <textarea id="project-fullName" columns="40" maxlength="1000" rows="4"></textarea>
        </div>
    </div>
</form>