<table class="table table-condensed">
    <tbody>
        <tr>
            <td colspan="2">{{{requestStatus data.status data.message}}}</td>
        </tr>
        <tr>
            <td>
                {{#if data.toVersion}}
                    <i class="icon-arrow-right"></i>
                    {{loc 'request.toVersion'}}:
                    {{data.toVersion}}
                {{/if}}
            </td>
            <td>
                {{{eventTimestampAndElapsed 'REQUEST_CREATED'}}}
            </td>
        </tr>
        {{#if data.mergeVersion}}
            <tr>
                <td>
                    <i class="icon-ok"></i>
                    {{loc 'request.mergeVersion'}}:
                    {{data.mergeVersion}}
                </td>
                <td>
                    {{{eventTimestampAndElapsed 'REQUEST_MERGED'}}}
                </td>
            </tr>
        {{/if}}
        <tr>
            <td colspan="2">
                <button id="request-hide-deleted" type="button" class="btn" data-toggle="button"><i class="icon-filter"></i> {{loc 'request.hide.deleted'}}</button>
                <button id="request-hide-valid" type="button" class="btn" data-toggle="button"><i class="icon-filter"></i> {{loc 'request.hide.valid'}}</button>
            </td>
        </tr>
    </tbody>
</table>