<table class="table table-condensed">
    <tbody>
        {{#entry.diffEntry.entries}}
            <tr>
                <td>
                    {{locale}}
                </td>
                <td>
                    <textarea readonly="readonly" class="span5">{{oldValue}}</textarea>
                    {{#if editableAllowed}}
                        <textarea
                                id="translation-edit-input-{{../../entry.diffEntry.entryId}}-{{locale}}"
                                class="span5 translation-edit-input  {{#if control}}translation-diff-input-invalid{{/if}}"
                                data-old-value="{{oldValue}}"
                                data-previous-value="{{newValue}}"
                                data-entry-id="{{../../entry.diffEntry.entryId}}"
                                data-locale="{{locale}}"
                                {{#if control}}title="{{control}}"{{/if}}
                                >{{newValue}}</textarea>
                        <i
                                class="icon-ok action action-optional action-inline translation-edit-submit"
                                data-entry-id="{{../../entry.diffEntry.entryId}}"
                                data-locale="{{locale}}"></i>
                        <i
                                class="icon-remove action action-optional action-inline translation-edit-cancel"
                                data-entry-id="{{../../entry.diffEntry.entryId}}"
                                data-locale="{{locale}}"></i>
                    {{else}}
                        <textarea
                                readonly="readonly"
                                class="span5 {{#if control}}translation-diff-input-invalid{{/if}}"
                                {{#if control}}title="{{control}}"{{/if}}>{{newValue}}</textarea>
                    {{/if}}
                </td>
            </tr>
        {{/entry.diffEntry.entries}}
    </tbody>
</table>