<table class="table table-condensed">
    <tbody>
        {{#data.diff.entries}}
            <tr class="{{cls}} translation-diff-{{type}}">
                <td>
                    <span class="translation-bundle">{{bundle}}</span>
                    <i class="icon-arrow-right muted"></i>
                    <span class="translation-section">{{section}}</span>
                    <i class="icon-arrow-right muted"></i>
                    <span class="translation-key">{{key}}</span>
                    <i class="{{icon}} action action-optional action-inline"></i>
                </td>
            </tr>
        {{/data.diff.entries}}
    </tbody>
</table>