<table class="table table-condensed">
    <tbody>
        {{#entry.entries}}
            <tr>
                <td>
                    {{locale}}
                </td>
                <td>
                    <input type="text" readonly="readonly" class="span5" value="{{oldValue}}" />
                    {{#if toUpdate}}
                        <input type="text" class="span5" value="{{newValue}}" />
                        <i class="icon-ok action"></i>
                    {{else}}
                        <input type="text" readonly="readonly" class="span5" value="{{newValue}}" />
                    {{/if}}
                </td>
            </tr>
        {{/entry.entries}}
    </tbody>
</table>