<tr>
    <td class="request-id" width="50">
        <a href="{{link 'gui'}}"><code>{{data.id}}</code></a>
    </td>
    <td class="request-version" width="10%">
        <a href="{{link 'gui'}}">{{data.version}}</a>
    </td>
    <td class="request-status">
        {{{requestStatus data.status}}}
    </td>
    <td class="request-timestamp">
        {{{eventTimestampAndElapsed 'REQUEST_CREATED'}}}
    </td>
    <td class="request-actions">
        <span class="action action-optional action-inline">
            {{#if data.downloadable}}
                <a href="ui/request/{{data.id}}/download">
                    <img src="{{static 'images/download.gif'}}" title="{{loc 'request.request.download'}}" />
                </a>
            {{/if}}
        </span>
    </td>
</tr>