<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="request-version">{{loc data.versionFormat.semanticKey}}</label>
        <div class="controls">
            <input type="text" id="request-version" size="40" maxlength="80" required="required" value="{{lastVersion}}" />
            <span class="help-block">{{loc 'request.create.version.help'}}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="request-txfileexchange">{{loc 'request.txfileexchange'}}</label>
        <div class="controls">
            <span id="request-txfileexchange"></span>
        </div>
    </div>
    <h1><small>{{loc 'request.create.keys'}}</small></h1>
    <div id="request-key-filter" class="control-group"></div>
</form>