<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="request-version">{{loc data.versionFormat.semanticKey}}</label>
        <div class="controls">
            <input type="text" id="request-version" size="40" maxlength="80" required="required" value="{{lastVersion}}" />
            <span class="help-block">{{loc 'request.create.version.help'}}</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="request-txfileexchange">{{loc 'request.txfileexchange'}}</label>
        <div class="controls">
            <span id="request-txfileexchange"></span>
        </div>
    </div>
    <div>
        TODO: allows the selection of keys by:
        <ul>
            <li>allowing the user to filter on keys and labels</li>
            <li>displaying the list of results</li>
            <li>checking the keys to include in the request</li>
        </ul>
    </div>
</form>