<form class="form-horizontal" method="POST" enctype="multipart/form-data">
    <div class="control-group">
        <label class="control-label">{{loc 'request.upload.file'}}</label>
        <div class="controls">
            <div id="request-upload-files">
                <div><input type="file" name="response" required="required" /></div>
            </div>
            <div>
                <button id="request-upload-file-add" type="button" class="btn btn-link">
                    <i class="icon-plus" />
                    {{loc 'request.upload.file.add'}}
                </button>
            </div>
        </div>
    </div>
</form>