.contribution-key {
    width: 15em;
}

.contribution-cell {
    padding-right: 1em !important;
}

.contribution-field {
    width: 100%;
}

.contribution-field-ongoing {
    background-color: lightsalmon;
}
