/* ===== Bootstrap custom ===== */

/* General width for the container */
.container {
    width: 85%;
}

.navbar-text {
    padding: 0px !important;
    margin-left: 1em;
}

.help-block {
    font-style: italic;
    color: #AAAAAA;
    font-size: 70%;
}

/* ===== Application ===== */

/* Pointer */
.action {
    cursor: pointer;
}

/* Hidden */
.hidden {
    display: none;
}

/* Alert (none) */
.alert-none {
    display: none;
}

/* Description test */
.description {
    font-style: italic;
    color: #AAAAAA;
}

/* Muted */
.muted {
    opacity: 0.5;
}

/* Input validations */
input.warning,textarea.warning {
    background-color: lightsalmon;
}
input.success,textarea.success {
    background-color: lightgreen;
}

/* Page title */

.title {
    font-weight: bold;
    font-size: 150%;
}

/*  Action visible only when container is hovered */

.action.action-optional {
    opacity: 0.25;
    float: right;
}

.action.action-optional.action-inline {
    float: none;
}

*:hover > .action.action-optional {
    opacity: 1.0;
}

.action.action-optional a {
    text-decoration: none;
    color: black;
}

/* Events */

.event-timestamp {

}

.event-elapsed {
    font-style: italic;
    color: #AAAAAA;
}

/* Translations */

.translation-bundle, .translation-section {
    font-style: italic;
    color: #AAAAAA;
}

.translation-key {
    font-family: "Courier New", monospace;
}

.keyfilter-results {
    height: 250px !important;
    overflow: auto;
}

.keyfilter-results-count {
    font-style: italic;
    color: #AAAAAA;
}

.translation-diff-DELETED {
    text-decoration: line-through;
}

.translation-diff-invalid {
    color: red;
    font-weight: bold;
}

.translation-diff-input-invalid {
    border-color: red !important;
}